In [2]:
import pandas as pd 
df=pd.read_csv("niha.csv")
df

    Name  Age      GROUP
0   NIHA   23       bcom
1  surya   24        bca
2   raju   35         ds
3   ravi   24         cs
4   kavs   25         ds
5    sri   26         cs
6    sai   27  fisheries
7  meena   32         ai
8   sita   12         ai

In [3]:
df["Age"].max()

np.int64(35)

In [4]:
df["Age"].min()

np.int64(12)

In [5]:
df["Age"].mean()

np.float64(25.333333333333332)

In [6]:
df["Age"].describe()

count     9.000000
mean     25.333333
std       6.403124
min      12.000000
25%      24.000000
50%      25.000000
75%      27.000000
max      35.000000
Name: Age, dtype: float64

In [7]:
import pandas as pd
df[df.Age==df.Age.max()]

   Name  Age GROUP
2  raju   35    ds

In [8]:
df.count()

Name     9
Age      9
GROUP    9
dtype: int64

In [13]:
df['GROUP'].nunique()

6

In [ ]:
df['GROUP'].unique()

In [ ]:
df['GROUP'].value_counts()

# String Cleaning

In [ ]:
import pandas as pd
df= pd.read_csv("niha.csv")
df

In [ ]:
df['GROUP']=df['GROUP'].str.upper()
df

In [ ]:
df['GROUP']=df['GROUP'].str.lower()
df

In [ ]:
df['Name'].str.lower()

In [10]:
df['GROUP']=df[''].str.replace("Anakapalli","RJY")
df

KeyError: 'City'

# Concatenate DataFrames

In [11]:
india=pd.DataFrame({
    "city": ["Mumbai","Agra","Banglore"],
    "temp": [34,23,45]
})
india

       city  temp
0    Mumbai    34
1      Agra    23
2  Banglore    45

In [ ]:
us=pd.DataFrame({
    "city": ["Chicago", "Newyork"," Ireland"],
    "temp": [45,23,67]
})
us

In [ ]:
df=pd.concat([india,us])
df

In [ ]:
df=pd.concat([india,us],ignore_index=True) # it gives line by line ignore index true means it follow ordered index
df

In [ ]:
df= pd.concat([india,us],axis=1) # it gives side by side tables
df

# Merge dataframes

In [ ]:
temp=pd.DataFrame({
    "city":["hyd","vzg","N"],
    "tempt":[34,45,67]
})
temp

In [ ]:
t=pd.DataFrame({
    "city":["hyd","vzg","vijy"],
    "rainfall":[36,55,77]
})
t

In [ ]:
df=pd.merge(temp,t,on="city")  #it merges two datas and gives the common columns
df

In [ ]:
df=pd.merge(temp,t,on="city",how="outer")  #it gives all with null values
df

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

In [ ]:
df["rainfall"]=df["rainfall"].fillna(df.rainfall.min())
df

In [ ]:
df["tempt"]=df["tempt"].fillna(df.tempt.max())
df